* {
    background-color: rgb(44, 43, 43);
}

.hd {
    text-align: center;
    color: #f7f7f7;
}
.hd1 {
    color: #f7f7f7;
}

.dv {
    color: #f7f7f7;
    
}

.hd2 {
    color: #f7f7f7;
}

.map {
    height: 100px;
    width: 200px;
}

.hd6 {
    color: #f7f7f7;
}

.p {
    color: #f7f7f7;
}

.map2 {
    width: 400px;
    height: 200px;
}